.about {
  overflow: hidden;
  height: auto;
  width: 100vw;
  max-width: 95vw;


  &__wrapper {
    border-radius: $border-rad2;
    position: relative;
  }

  &__heading {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__content {

    display: flex;
    position: relative;
    color: $font-color-grey;
    padding-top: 3rem;
    width: 100%;

    @include respond(tab-port) {
      flex-direction: column-reverse;
    }

    strong {

      font-weight: inherit;
      color: lighten($color: $font-color-grey, $amount: 30);
    }
  }

}

.box {
  background-color: rgba(24, 24, 37, 0.9);
}