.top-navbar {
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-left: 2rem;
    //padding: 1.5rem 2rem;
    padding-right: 0;
    height: $navbar-height;
    max-width: 100vw;

    &__items {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        // padding: 1rem;

        &__item {
            cursor: pointer;
            // margin-right: 1.5rem;
        }

        
    }
}
.logo-container {
    position: relative;
    height: 3.5rem;
    width: 25rem;
    cursor: pointer;
    
    @include respond(phone) {
        height: 3.5rem;
        width: 15rem;
      }
    
  }
  .contact_me {
    position: relative;
    left: 36.60%;
    border: 3px solid #66B933;
    padding: 0.5rem 2rem;
    
    border-radius: 5px;
    color: #66B933;
    display: inline-block;
    transition: padding $timer1 ease;

    &:hover {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
    &:active {
        transition-duration: 0;
        // transform: scaleX(1.02);
        padding-right: 1.65rem;
    }
   
      @include respond(phone) {
        position: relative;
    left: 0%;
      }
     
}